

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: white;
    background-color: darkgreen;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0;
}

h2 {
    color: white;
}

p {
    color: white;
    margin: 20px;
}

h4 {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}